.navbar {
    margin-bottom: 70px;
}

.pageLogo {
    font-size: 50px;
}

.fa-gem {
    color: #D7346B;
    font-size: 40px;
}


.crystalImage{
    height: 95px;
}

.scoreLabel {
    font-weight: 700;
    font-size: 1rem;
}


